html {
    font-family: var(--font-family-base);
    background: var(--bg-main);
    color: var(--text-main);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--color-primary);
    color: var(--bg-main);
}