---
import './BasePage.css';
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/atoms/Typography/Heading.astro";
import { type SupportedLang } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utils";

interface props {
  lang: supportedlang;
  navKey: string;
}

const { lang, navKey } = Astro.props;

const t = useTranslations(lang);
---

<layout title={t(`nav.${navKey}`)} lang={lang}

>
  <main class="base-page-main">
    <section class="base-page-container">
      <heading level="h1">{t(`nav.${navKey}`)}</Heading>
      <slot />
    </section>
  </main>
</Layout>
