---
import './ProgressBar.css';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';

interface Props {
    progress: number;
}

const { progress } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<div class="progress-wrapper">
    <div class="progress-header">
        <span>{t("roadmap.overallProgress")}</span>
        <span>{progress}%</span>
    </div>
    <div class="progress-track">
        <div
            class="progress-fill"
            style={`width: ${progress}%`}
        >
        </div>
    </div>
</div>
