---
import { useTranslations, getLocalizedSlug } from "../../i18n/utils";
import "./HomeNav.css";

interface Props {
    lang: "en" | "fr" | "es";
}

const { lang } = Astro.props;
const t = useTranslations(lang as any);

const appsPath = `/${lang}/${getLocalizedSlug(lang, "apps")}/`;
const utilitiesPath = `/${lang}/${getLocalizedSlug(lang, "utilities")}/`;
---

<nav class="home-nav">
    <ul class="home-nav-list">
        <li>
            <a href={appsPath} class="home-nav-link">{t("menu.apps")}</a>
        </li>
        <li>
            <a href={utilitiesPath} class="home-nav-link">{t("menu.utilities")}</a>
        </li>
    </ul>
</nav>
