---
import LogoSection from "./LogoSection.astro";
import HomeNav from "./HomeNav.astro";
import { type Language } from "../../i18n/utils";
import "./HomeTemplate.css";

interface Props {
    lang: Language;
}

const { lang } = Astro.props;
---

<main class="home-template">
    <LogoSection lang={lang} />
    <HomeNav lang={lang} />
</main>
