.home-template {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 4.5rem);
}

@media (width <= 768px) {
    .home-template {
        flex-direction: column;
        height: auto;
        overflow: visible;
    }
}
