---
import LogoSection from "./LogoSection.astro";
import HomeNav from "./HomeNav.astro";

interface Props {
    lang: "en" | "fr";
}

const { lang } = Astro.props;
---

<main class="home-template">
    <LogoSection />
    <HomeNav lang={lang} />
</main>

<style>
    .home-template {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    @media (width <= 768px) {
        .home-template {
            flex-direction: column;
            height: auto;
            overflow: visible;
        }
    }
</style>
