---
import LogoSection from "./LogoSection.astro";
import HomeNav from "./HomeNav.astro";
import "./HomeTemplate.css";

interface Props {
    lang: "en" | "fr" | "es";
}

const { lang } = Astro.props;
---

<main class="home-template">
    <LogoSection lang={lang as any} />
    <HomeNav lang={lang as any} />
</main>
