---
import './Button.css';

interface props {
  href: string;
  variant?: 'primary' | 'glass';
  className?: string;
}

const { href, variant = 'primary', className = '' } = Astro.props;

---

<a href={href} class:list={['button', `button-${variant}`, className]}>
  <slot />
</a>
