body {
    overflow: hidden;
    cursor: none;
    margin: 0;
}

.back-btn-container {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 50;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: var(--radius-full);
    background: var(--white-5);
    border: 1px solid var(--white-10);
    color: var(--white-40);
    transition: all 0.3s;
    backdrop-filter: blur(4px);
    cursor: none;

    /* Keep consistent custom cursor */
}

.back-btn:hover {
    color: var(--text-main);
    background: var(--white-20);
}

.icon-arrow {
    width: 1rem;
    height: 1rem;
    transition: transform 0.2s;
}

.back-btn:hover .icon-arrow {
    transform: translateX(-2px);
}