---
import '../shared-page.css';
import BasePage from "../../components/templates/BasePage.astro";

const lang = "en";
---

<BasePage lang={lang} navKey="prototypes">
  <p class="page-description">Early concepts and experimental mechanics.</p>
</BasePage>
