---
import { Icon } from 'astro-icon/components';
import "./Footer.css";

interface Props {
    className?: string;
}

const { className = "" } = Astro.props;
---

<footer class={`site-footer ${className}`}>
    <div class="footer-content-wrapper">
        <p class="footer-copyright-text">&copy; {new Date().getFullYear()} Juan José López Moya</p>

        <div class="footer-social-links">
            <a href="https://www.linkedin.com/in/jjlmoya/" target="_blank" rel="noopener noreferrer" title="LinkedIn">
                <Icon name="mdi:linkedin" />
            </a>
            <a href="https://x.com/jjlmoya" target="_blank" rel="noopener noreferrer" title="X">
                <Icon name="mdi:twitter" />
            </a>
            <a href="https://play.google.com/store/apps/developer?id=GameBob+Games" target="_blank" rel="noopener noreferrer" title="Google Play">
                <Icon name="mdi:google-play" />
            </a>
            <a href="https://apps.apple.com/ua/developer/juan-jose-lopez-moya/id1871275518" target="_blank" rel="noopener noreferrer" title="App Store">
                <Icon name="mdi:apple" />
            </a>
        </div>

        <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener noreferrer" class="footer-license-link">
            CC BY-NC 4.0
        </a>
    </div>
</footer>
