---
import '../../shared-page.css';
import BasePage from "../../../components/templates/BasePage.astro";
import { languages } from "../../../i18n/ui";

export async function getStaticPaths() {
  return Object.keys(languages)
    .filter((lang) => lang !== "en")
    .map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;

---

<basepage lang={lang as any} navKey="games">
  <p class="page-description">Catalog of games by GameBob Studio.</p>
</BasePage>
