---
import { useTranslations, type Language } from "../../i18n/utils";
import "./SearchInput.css";

interface Props {
    lang: Language;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="search-input-wrapper">
    <input
        type="text"
        id="utility-search"
        placeholder={t("ui.search_placeholder")}
        class="search-input"
        autocomplete="off"
    />
</div>
