---
import './Navbar.css';
import NavLink from "../../atoms/Link/NavLink.astro";
import { useTranslations, getLangFromUrl, useLanguagePath } from "../../../i18n/utils";

interface Props {
  isMobile?: boolean;
}

const { isMobile = false } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const l = useLanguagePath(lang);

const navItems = [
  { key: 'home', href: l('/') },
  { key: 'games', href: l('/games/') },
  { key: 'prototypes', href: l('/prototypes/') },
  { key: 'mechanics', href: l('/mechanics/') },
  { key: 'roadmap', href: l('/roadmap/') },
  { key: 'postmortem', href: l('/postmortem/') },
  { key: 'community', href: l('/community/') },
];
---

<nav class="navbar" is-mobile={isMobile ? "true" : "false"}>
  <div class="nav-list">
    {navItems.map(item => (
      <NavLink href={item.href}>
        {t(`nav.${item.key}`)}
      </NavLink>
    ))}
  </div>
</nav>
